<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="product">
  <div class="go-back-div">
    <a href=""[routerLink]="['/products']">Go Back</a>
  </div>
  <div class="left-sidepanel">
    <div class="product-carousel">
      <!-- Indicators -->
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators"
            *ngFor="let productImageUrl of productdetails.product.imageUrl;let i = index" [attr.data-slide-to]="i"
            [ngClass]="i == 0 ? 'active' : ''"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div *ngFor="let productImageUrl of productdetails.product.imageUrl; let k = index"
            [ngClass]="k == 0 ? 'item active' : 'item'">
            <img class="d-block w-100" src={{productImageUrl}} alt="Product Image">
          </div>
        </div>

        <!-- Previous and Next controls -->
        <!-- <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
        <span class="carousel-control-prev" data-target="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </span>
          <span class="carousel-control-next" data-target="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </span>
      </div>
    </div>
    <div class="product-description">
      <span class="desc-header">Description</span>
      <span>{{productdetails.product.description}}</span>
    </div>
  </div>
  <div class="right-sidepanel">
    <div class="product-details">
      <span class="price">
          ₹ {{ productdetails.product.price.amount }}
        <!-- <button class="right-corner"><i class="fa fa-share"></i></button>
        <button class="right-corner"><i class="fa fa-heart"></i></button> -->
      </span>
      <div class="other-info">
        <span>
          2013 - 55,000 km
        </span>
        <span class="product-title">{{productdetails.product.title}}</span>
      </div>

      <div class="item-add-details" style="border: none;">
        <div>
          <span class="product-location">{{productdetails.location}}</span>
        </div>
        <div>
          <span class="product-postdate">{{productdetails.postdate}}</span>
        </div>
      </div>

    </div>
    <div class="seller-details">
      <div class="seller-description">Seller description</div>
      <div class="sdetails">
        <span class="seller-name">{{productdetails.sellername}}</span>
        <!-- <span class="seller-duration">Member since {{productdetails.sellerduartion}}</span> -->
      </div>
      <!-- <button>Chat with Seller</button> -->
      <div class="seller-contact">
        <!-- <span><i class="fa fa-phone"></i></span>
        <div>** *** ****</div>
        <div class="shownub">Show number</div> -->
      </div>
    </div>
  </div>
</div>