.product {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.go-back-div {
    width: 100%;
    height: 30px;
    border: none;
    padding-right: 1%;
}

.go-back-div a {
    float: right;
}

.product-images {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.left-sidepanel {
    width: 95%;
    margin: 0 auto;
    border: none;
}

.left-sidepanel div {
    /* border: 1px solid rgb(190, 187, 187); */
    margin-bottom: 5px;
}

.picsum-img-wrapper {
    height: 250px;
    background-color: #FFFFFF;
    /* background-color: rgb(190, 187, 187); */
}

.right-sidepanel {
    width: 95%;
    margin: 0 auto;
    border: none;
}

.product-carousel {
    position: relative;
}

.product-carousel,
.product-description,
.seller-details,
.product-details,
.pick-up-address {
    /* width: 95%; */
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-description {
    /* border: 1px solid grey; */
    padding: 2%;
}

.product-description span {
    display: block;
}

.desc-header {
    font-weight: bold;
}

.right-sidepanel div {
    /* border: 1px solid rgb(190, 187, 187); */
    margin-bottom: 5px;
    padding: 2%;
}

.product-details span {
    display: block;
    border: none;
}

.product-details {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.product-details div {
    border: none;
}

.right-corner {
    float: right;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.product-details i {
    width: 24px;
    height: 24px;
}

.product-title {
    color: grey;
    font-size: 16px;
}

.product-location {
    float: left;
}

.product-postdate {
    float: right;
}

.seller-details {
    height: 100%;
    width: 100%;
}

.seller-details div {
    border: none;
}

.seller-details span {
    display: block;
}

.seller-details button {
    color: #fff;
    background-color: #2a65ea;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.item-add-details div {
    border: none;
}

.item-add-details span {
    font-size: 12px;
    color: gray;
}

.seller-contact div {
    border: none;
    display: inline;
}

.seller-contact span {
    display: inline;
}

.seller-description {
    font-size: 20px;
}

.sdetails {
    border: none;
}

.seller-name {
    font-size: 16px;
}

.seller-name:hover {
    cursor: pointer;
}

.seller-duration {
    font-size: 12px;
    color: rgb(190, 187, 187);
}

.seller-contact {
    text-align: center;
    border: none;
}

.shownub {
    color: skyblue;
}

.product-carousel div {
    border: none;
}

.price {
    font-weight: bold;
    font-size: 34px;
    font-family: sans-serif;
}

.if-preview-is-on {
    margin: 0;
    padding: 0;
}

.negotiable-property {
    color: gray;
    padding-top: 15px;
    font-size: 2px;
    float: right;
}

.pick-up-address div {
    border: none;
    margin: 0;
    padding: 0;
}

.address {
    font-weight: bold;
}

.seller-description {
    font-weight: bold;
}

.preview-tag {
    all: initial;
    position: absolute;
    top: 30px;
    left: 5px;
    margin: 0;
    padding: 0;
    border: solid red 5px !important;
    padding: 2px;
    transform: rotate(-45deg);
    color: red;
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .product {
        display: flex;
        flex-wrap: wrap;
        border: none;
        margin: O auto;
    }
    .go-back-div {
        width: 100%;
        height: 30px;
        border: none;
        padding-right: 1%;
    }
    .go-back-div a {
        float: right;
    }
    .left-sidepanel {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: none;
    }
    .right-sidepanel {
        width: 38%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: none;
    }
    .left-sidepanel div {
        margin: 5px;
    }
    .right-sidepanel div {
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 2%;
    }
    .product-details div {
        border: none;
        height: 100%;
        width: 100%;
        padding: 5px;
    }
    .other-info span {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .product-carousel {
        height: 100%;
        position: relative;
    }
    .product-carousel,
    .product-description,
    .seller-details,
    .product-details,
    .pick-up-address {
        margin: 0 auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .product-description {
        /* border: 1px solid grey; */
        padding: 2%;
    }
    .product-carousel div {
        border: none;
    }
    .product-images {
        height: 100%;
        width: 100%;
        object-fit: contain
    }
    .picsum-img-wrapper {
        height: 350px;
        background-color: #e6e4e4;
        /* background-color: rgb(190, 187, 187); */
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        color: black;
    }
    .null-response div {
        border: none;
    }
    .negotiable-property {
        padding-top: 15px;
        color: gray;
        font-size: 11px;
        float: right;
    }
    .if-preview-is-on {
        margin: 0;
        padding: 0;
    }
    .pick-up-address {
        width: 100%;
    }
    .pick-up-address div {
        border: none;
        margin: 0;
        padding: 0;
    }
    .address {
        font-weight: bold;
    }
    .seller-description {
        font-weight: bold;
    }
    .post-ad-message {
        text-align: center;
        justify-content: center;
        font-weight: bold;
        color: lightgreen;
    }
    .preview-tag {
        all: initial;
        position: absolute;
        top: 30px;
        left: 5px;
        margin: 0;
        padding: 0;
        border: solid red 5px !important;
        padding: 2px;
        transform: rotate(-45deg);
        color: red;
        font-size: 20px;
        font-weight: bold;
    }
}

@media only screen and (min-width: 968px) {
    .negotiable-property {
        padding-top: 10px;
        color: gray;
        font-size: 20px;
        float: right;
    }
}
.seller-img-div > img {
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .sdetails {
    display: grid;
    grid-template-columns: 30% 70%;
  }