<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="product">
    <div class="left-sidepanel">
        <div class="product-carousel">
            <div class="carousel-inner">
                    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                    <div class="carousel-item">
                            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Image1">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=Image2">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="http://fakeimg.pl/2000x800/F90/fff/?text=Image3">
                    </div>
                    <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                    <label for="carousel-2" class="carousel-control next control-1">›</label>
                    <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                    <label for="carousel-3" class="carousel-control next control-2">›</label>
                    <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                    <label for="carousel-1" class="carousel-control next control-3">›</label> 
                    
                    <ol class="carousel-indicators">
                            <li>
                                <label for="carousel-1" class="carousel-bullet">•</label>
                            </li>
                            <li>
                                <label for="carousel-2" class="carousel-bullet">•</label>
                            </li>
                            <li>
                                <label for="carousel-3" class="carousel-bullet">•</label>
                            </li>
                        </ol>
            </div>
        </div>
        <div class="product-description">
            <span class="desc-header">Description</span>
            <span>{{description}}</span>
        </div>
    </div>
    <div class="right-sidepanel">
        <div class="product-details">
            <span style="font-weight: bold; font-size: 34px; font-family: Arial, Helvetica, sans-serif;">
                {{itemprice}}
                <button class="right-corner"><i class="fa fa-share"></i></button>
                <button class="right-corner"><i class="fa fa-heart"></i></button>
            </span>
            <div class="other-info">
                <span>
                    2013 - 55,000 km
                </span>
                <span style="color: grey;  font-size: 16px;">{{itemtitle}}</span>
            </div>

            <div class="item-add-details" style="border: none;">
                <div>
                    <span style="float: left;">{{location}}</span>
                </div>
                <div>
                    <span style="float: right;">{{postdate}}</span>
                </div>
            </div>

        </div>
        <div class="seller-details">
            <div style="font-size: 20px;">Seller description</div>
            <div class="sdetails" style="border: none">
                <span style="font-size: 16px;">{{sellername}}</span>
                <span style="font-size: 12px; color:rgb(190, 187, 187);">Member since {{sellerduartion}}</span>
            </div>
            <button>Chat with Seller</button>
            <div class="seller-contact" style="border: none;">
                <span style="display: inline;"><i class="fa fa-phone"></i></span>
                <div style="display: inline;">** *** ****</div>
                <div class="shownub" style="display: inline;">Show number</div>
            </div>
        </div>
    </div>
</div>