<app-header></app-header>

<div class="user-profile-container content">
    <div class="profile-section">
        <div class="img-container">
            <!-- hardcoded for demo purpose only-->
            <img
                src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg">
        </div>
        <div class="user-info">
            <h1>{{userProfile.firstName}} {{userProfile.lastName}}</h1>
            <ul class="user-contact-details">
                <li>{{userProfile.emailId}}</li>
                <li>{{userProfile.contactNumber}}</li>
            </ul>
        </div>
    </div>
    <div class="btn-separator">
        <button [ngClass]="{'button-active': showActiveAds}" type="button" (click)="toggleAdsTabHighlighting();"
            [routerLink]="['active']">
            Active
        </button>
        <button [ngClass]="{'button-active': !showActiveAds}" type="button" (click)="toggleAdsTabHighlighting();"
            [routerLink]="['inactive']">
            Inactive
        </button>
    </div>
    <div class="ad-list-section">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>