<app-header></app-header>

<div class="user-profile-container content">
    <div class="profile-section">
        <div class="img-container">
            <img src="{{userProfile.profileImageUrl}}">
        </div>
        <div class="user-info">
            <h1>{{userProfile.name}}</h1>
            <ul class="user-contact-details">
                <li>{{userProfile.emailId}}</li>
                <li>{{userProfile.contactNumber}}</li>
            </ul>
        </div>
    </div>
    <div class="btn-separator">
        <button [ngClass]="{'button-active': showActiveAds}" type="button" (click)="getActiveAds();"
            [routerLink]="['../../profile',userId]">
            Active
        </button>
        <button [ngClass]="{'button-active': !showActiveAds}" type="button" (click)="getInactiveAds();"
            [routerLink]="['../../profile',userId]">
            Inactive
        </button>
    </div>
    <div class="ad-list-section">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>