.adv-card {
    width: 398px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.adv-card>img {
    border-radius: 10px;
    width: 380px;
    margin: 10px;
}

.adv-details {
    margin: 10px;
}

.adv-price {
    font-weight: 700;
    margin-bottom: 0;
    color: #002f34;
    font-size: 20px;
}

.adv-title {
    color: rgba(0, 47, 52, .64);
    font-size: 14px;
}

.adv-bottom-section {
    overflow: hidden;
    color: rgba(0, 47, 52, .64);
    font-size: 10px;
}

.adv-posting-area {
    float: left;
}

.adv-posting-date {
    float: right;
}