.flex-container {
    display: flex;
    width: 100%;
}

.left-side-bar {
    width: 20%;
    padding-top: 20px;
    background-color: #fff;
    height: 74%;
    box-sizing: border-box;
    position: fixed;
    overflow-y: scroll;
}

.content {
    width: 100%;
    padding: 2%;
    min-height: 474px;
}

@media only screen and (min-width: 768px) {
    app-advertisments-list {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    app-advertisments-list {
        margin: 15px 5px;
    }
    .content {
        width: 100%;
        padding: 2%;
        margin-left: 0%!important;
    }
    .left-side-bar{
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    app-advertisments-list {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}