.flex-container {
    display: flex;
    width: 100%;
    min-height: 547px !important;
}

.left-side-bar {
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

app-left-nav-bar {
    width: 200px;
}

@media only screen and (min-width: 768px) {
    app-advertisments-list {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    app-advertisments-list {
        margin: 15px 5px;
    }
    app-left-nav-bar{
        width: 300px;
    }
    .content {
        width: 100%;
        padding: 2%;
        margin-left: 0%!important;
    }
    .left-side-bar {
        display: block;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 90%;
    }
}

@media only screen and (min-width: 1280px) {
    app-advertisments-list {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}