<app-header (toggleMenuEvent)="toggleMenuEvent($event)" [showToggleButton]="true"></app-header>
<div class="flex-container">
    <div class="left-side-bar" [@openClose]="hideMenu ? 'open' : 'closed'">
        <app-left-nav-bar></app-left-nav-bar>
    </div>
    <div class="content" [@openClose]="hideMenu ? 'contentOpen' : 'contentClosed'">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer" [@openClose]="hideMenu ? 'contentOpen' : 'contentClosed'">
    <app-footer></app-footer>
</div>