@import "~font-awesome/css/font-awesome.css";
#post-ad-container {
    margin: 0 auto;
    max-width: 1280px;
    border-radius: 5px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button-container {
    margin: 0 auto;
    width: 50%;
}

#post-ad-container .btn {
    width: 100%;
    border-radius: 15px;
}

#uploadImage {
    display: flex;
    flex-flow: wrap;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 0 auto;
    height: 150px;
    width: 100%;
    padding: 1px auto;
}

.picture-container {
    margin: 5px 5px 0 10px;
    border-radius: 15px;
    position: relative;
    height: 90%;
    width: 18%;
}

.closeButton button {
    border-radius: 100px;
    background: white;
}

.closeButton .fa {
    color: red;
}

#uploadImage img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.picture-container .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.addEditButton {
    background: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-border {
    position: absolute;
    top: 40%;
    left: 43%;
}