<div class="page-not-found">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                {{errordetails.code}} {{errordetails.message}}
            </h2>
            <div class="error-details">
                Sorry, an error has occured, Requested page not found!
            </div>
            <div class="go-back-div">
                <a href="" [routerLink]="['/products']">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>