.login-body {
  height: 100vh;
  border: 1px solid;
  position: relative;
  background-color: #132a4e;
}
.login-card {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.308);
  transition: 0.3s;
  width: 400px;
  border-radius: 2%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: sans-serif;
  background-color: #fff;
  text-align: center;
}

.login-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
