<div class="header">
    <span *ngIf="showToggleButton" class="menu ml-3 mr-3" (click)="toggleMenu()"><i class="fa fa-bars"></i></span>
    <div class="brand">
        <h1><a routerLink="/products">Tav<span>Ex</span></a></h1>
    </div>
    <div class="search-box">
        <input class="form-control" list="suggestion" type="text" [(ngModel)]="searchQuery" placeholder="Search..." (keyup)="AutoPopulate($event)" (change)="Search()" aria-label="Search">
        <datalist id="suggestion">
            <option *ngFor="let tag of suggestions" [ngValue]="tag"> {{ tag }}</option>
        </datalist>
    </div>
    <div class="link-box">
        <div class="user-profile">
            <a [routerLink]="['/products/postad']" class="btn btn-primary mr-3 sell">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Sell
            </a>
            <label class2='user-name'>Welcome {{userInfo.firstName}}</label>
            <a [routerLink]="['/profile',userId,'active']" class="header-icon">
                <i class="fa fa-user"></i>
            </a>
            <a routerLink="/" class="header-icon">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </div>
</div>