<div class="header">
    <span class="menu ml-3 mr-3" (click)="toggleMenu()"><i class="fa fa-bars"></i></span>
    <div class="brand">
        <h1><a href="/">Tavisca Exchange</a></h1>
    </div>
    <div class="search-box">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="link-box">
        <div class="user-profile">
            <a routerLink="add" routerLinkActive="active" class="btn btn-primary mr-3"><i class="fa fa-shopping-cart pr-1"></i> Sell </a>
            <a href="#" class="header-icon"><i class="fa fa-user"></i></a>
            <a href="#" class="header-icon"><i class="fa fa-bell"></i></a>
            <a href="/" class="header-icon"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>
<app-mobile-left-nav-bar [hideMobileMenu]="hideMobileMenu"></app-mobile-left-nav-bar>