<div id="post-ad-container">
    <form #postAdForm="ngForm">
        <div class="form-group">
            <label>Title*</label>
            <input id="name" minlength="2" maxlength="10" ngModel name="name" #name="ngModel" class="form-control" type="text" placeholder="Product name.." required>
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                <div *ngIf="name.errors.required">Title is required</div>
                <div *ngIf="name.errors.minlength">Title should be minimum 2 Characters.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Category*</label>
            <select id="category" class="form-control" name="category">
            <option *ngFor="let category of categories">{{ category }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="price">Price*</label>
            <div class="input-group">
                <span class="input-group-text">₹</span>
                <input id="price" ngModel name="price" #price="ngModel" class="form-control" type="number" placeholder="Product price.." required [min]="0">
            </div>
            <div class="alert alert-danger" *ngIf="price.touched && !price.valid">
                <div *ngIf="price.errors.required"> Price is required.</div>
                <div *ngIf="price.errors.min"> Price should be 0 or more.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="discription ">Description*</label>
            <textarea id="discription" minlength="4" ngModel name="discription" #discription="ngModel" class="form-control" type="text" placeholder="Product name.." required></textarea>
            <div class="alert alert-danger" *ngIf="discription.touched && !discription.valid">
                <div *ngIf="discription.errors.required">Description is required</div>
                <div *ngIf="discription.errors.minlength">Description should be minimum 4 Characters.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfPurchase">Date of purchase</label>
            <input (change)="validateDate($event)" class="form-control" type="date" name="dateOfPurchase" required>
            <div class="alert alert-danger" [style.display]="purchaseDate">
                Date must not be greater than todays date.
            </div>
        </div>

        <div class="form-group">
            <label for="negotiable">Negotiable</label>
            <div class="radio">
                <label><input type="radio"  name="negotiable" value="Yes">Yes</label>
            </div>
            <div class="radio">
                <label><input type="radio"  name="negotiable" value="No" checked>No</label>
            </div>
        </div>


        <div class="form-group">
            <label style="margin-right: 20px;"> Address </label>
            <input type="checkbox" (click)="validateAddress($event)">
            <div class="address" [style.display]="addressDisplayValue">
                <label>Line 1</label>
                <input class="form-control" type="text" required>

                <label>Line 2</label>
                <input class="form-control" type="text">

                <label>City</label>
                <input class="form-control" type="text" required>

                <label>Pincode</label>
                <input class="form-control" type="number" required>

                <label>State</label>
                <select class="form-control" name="state">
                <option *ngFor="let state of states">{{ state }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="image">Image</label>
            <div id="uploadImage">
                <ng-container *ngFor='let image of imageArray;index as i'>
                    <div class="picture-container" [style.border]="image.pictureContainerStyle">
                        <div class="spinner-border text-primary" role="status" [style.display]="image.imageLoaderProperty">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <img (click)="selectHeroImg(i)" [src]="image.imageURL" [style.display]="image.imageDisplayValue" />

                        <div class="closeButton">
                            <button [style.display]="image.CrossBtnValue" (click)="removeImage(i)"><i  class="fa fa-close"></i></button>
                        </div>

                        <div class="addEditButton">
                            <button class="btn" (click)="imageClick(i);" [style.display]="image.addEditProperty"><i class="fa fa-{{ image.iconOfButton }}"></i>{{ image.buttonName }}</button>
                            <input type="file" id="{{i}}" (change)="addImage(i,$event);" accept='image/*' style="display: none">
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                <div *ngIf="imageFlag">Title is required</div>
                <div *ngIf="name.errors.minlength">Title should be minimum 2 Characters.</div>
            </div>
        </div>


        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading......</span>
        </div>

        <img src="http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif" />

        <div class="button-container">
            <input class="btn btn-primary " type="submit" value="Post">
        </div>
    </form>
</div>