@import "~bootstrap/dist/css/bootstrap.css";

#post-ad-container {
    margin : 0 auto;
    max-width: 1280px;
    border-radius: 5px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  
  #post-ad-container .btn 
  {
    width: 10%;
  }


 