@import "~bootstrap/dist/css/bootstrap.css";

#post-ad-container {
    margin : 0 auto;
    max-width: 1280px;
    border-radius: 5px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  #post-ad-container .btn 
  {
    width: 10%;
  }

  #upload-images
  {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-flow: wrap;
    height: 150px ;
    width: 70%;
  }

  .picture-container
   {
    margin-left: 5px;
    position: relative;
    width: 15%;
    max-width: 400px;
  }

  .closeButton .fa
  {
    color:red;
  }

  .picture-container img {
    margin-top: 2px;
    width: 100%;
    height: 100px;
  }
  
  .picture-container .closeButton {
    background:  transparent;
    position: absolute;
    top: 5%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-100%, -100%);
    cursor: pointer;
  }

  .addEditButton 
  {
    margin-left: 25%;
    height: 30%;
    width: 100%;
  }

  .addEditButton .btn
  {
      border: none;
      color: black;
      padding: 20px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 100%;
      height: 20%;
  }
  
  



 