.left-nav {
    width: 100%;
    padding-top: 20px;
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.navbar-items {
    padding: 5px 11px 5px 25px;
}

.left-nav h3 {
    color: #1976d2;
    text-align: center;
    font-size: 19px;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .left-nav {
        display: none;
    }
}