.adv-list-container {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 100%;
    justify-items: center;
    margin: 15px 5px;
}

@media only screen and (min-width: 768px) {
    .adv-list-container {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 1280px) {
    .adv-list-container {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

.adv-card {
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: 0.3s;
}

.adv-card>img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 60%;
}

.adv-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.adv-details {
    margin: 10px;
}

.adv-price {
    font-weight: 700;
    margin-bottom: 0;
    color: #002f34;
    font-size: 20px;
}

.adv-title {
    color: rgba(0, 47, 52, .64);
    font-size: 14px;
}

.adv-bottom-section {
    overflow: hidden;
    color: rgba(0, 47, 52, .64);
    font-size: 10px;
}

.adv-posting-area {
    float: left;
}

.adv-posting-date {
    float: right;
}